//$ for variable
// * for select every thing
@import "config";
@import "menu";
@import "mobile";

* {
  box-sizing: border-box;
}
body {
  @include background;
  background-color: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 6rem; //1rem = 16px
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem; //top bottom left right
    background: rbga(
      lighten($primary-color, 2),
      0.5
    ); //sass function take color and opacity
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed; //those three line
  z-index: 2; //it is for how close  the element to you(front) 1 is behind to 2 same with 0
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;
  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      &:hover {
        //a:hover in css
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden; //no scroll bar
    h1 {
      margin-top: 20vh; //vh is unit for view port height(20vh take 20 of slices out o 100 slices
    }
  }
}
